<h1>The Netbattler </h1>
<p>
    
    This is a brief demo on a megaman net bsttle inspired html5 game.

</p>
Rules 
<br/>

Tap a spot to mave the character to that spot. <br/>
The chacter will begin charging a shot automatically.<br/>
Tap  on the chacter to unleash the shot.<br/>
Once the routines menu is full tap to get a list of your avaible routines.<br/>
You many load up to three routines into the character.<br/>
To execute a routine tap the small circle with the routines symbol.  





<md-button ng-click="loadGame()"> Begin</md-button>